body {
  background-color: lightgray;
}

#chart {                                                 
  height: 800px;                                             
  position: relative;                                       
  width: 1000px;                                             
}