#chart {                                                 
  height: 800px;                                             
  position: relative;                                       
  width: 1000px;                                             
}

.bar {
  color:aqua
}